body{
    overflow-x: hidden;
    background-image: url(image/color.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.tex{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-weight: 500px;
}

.emo{
    font-size: 20px;
}

.error{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;    
    border: 1px solid #f5c6cb;
    display: none;
}

.bclo{
    padding: 10px;
    backdrop-filter:blur(20px);
    border-radius: 20px;
}

.reward-btn {
    width: 120px;
    height: 40px;
    background-color: #101218;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  .IconContainer {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .IconContainer svg {
    width: 40%;
    z-index: 3;
  }
  .box-top {
    transition: all 0.3s;
  }
  .text {
    width: 70px;
    height: 100%;
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
  }
  .reward-btn:hover .IconContainer .box-top {
    transform: translateY(-5px);
  }
  .reward-btn:hover {
    background-color: #202531;
  }
  .reward-btn:hover .coin {
    transform: translateY(-5px);
    transition-delay: 0.2s;
  }
  .coin {
    width: 25%;
    height: 25%;
    background-color: #e4d61a;
    position: absolute;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: 1;
    border: 2px solid #ffe956;
    margin-top: 4px;
  }






  
